{% load staticfiles %}
{% load image %}
<!-- Start Main Menu Area -->
    <div class="navigation-area" id="fixheader">
        <div class="container">
            <div class="row">
                <!-- Categories List Start -->
                <div class="col-10 col-lg-3">
                    <div class="categories-list-wrap">
                        <button class="btn btn-category d-none d-lg-inline-block"><i class="fa fa-bars"></i> 分类
                        </button>
                        <ul class="category-list-menu">
                            {% for cat in category_list %}

                                    <li class="category-item-parent dropdown-show {% if forloop.counter > 3 %} hidden {% endif %}">
										<a href="#" class="category-item arrow-toggle">
											<img src="{% static cat.img|get_file_path %}" alt="{{ cat.name }}"/>
											<span>{{ cat.name }}</span>
										</a>
                                    {% if cat.sons %}
										<ul class="mega-menu-wrap dropdown-nav">
											<li class="mega-menu-item">
												<!--<a href="#" class="mega-item-title">Laptop</a>-->
												<ul>
                                                    {% for son in cat.sons %}
														<li><a href="#">{{ son.name }}</a></li>
													{% endfor %}

												</ul>
											</li>

										</ul>
                                    {% endif %}
									</li>

                            {% endfor %}
                            <li class="category-item-parent">
                                <a href="#" class="category-item btn-more">更多</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Categories List End -->

                <!-- Main Menu Start -->
                <div class="col-2 col-lg-9 d-none d-lg-block">
                    <div class="main-menu-wrap">
                        <nav class="mainmenu">
						    <ul class="main-navbar clearfix">
						        <li ><a href="index.html" >首页</a></li>
						        <li><a href="about.html">关于我们</a></li>
						        <li class="dropdown-show"><a href="#" class="arrow-toggle">Shop</a>
						            <ul class="mega-menu-wrap dropdown-nav">
						                <li class="mega-menu-item"><a href="shop.html" class="mega-item-title">Shop PageLayout</a>
						                    <ul>
						                        <li><a href="shop-3-grid.html">Shop 3 Column</a></li>
						                        <li><a href="shop-4-grid.html">Shop 4 Column</a></li>
						                        <li><a href="shop.html">Shop Left Sidebar</a></li>
						                        <li><a href="shop-list.html">Shop Lsiting View</a></li>
						                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
						                        <li><a href="shop-list-left-sidebar.html">Shop Lsit left Sidebar</a></li>
						                        <li><a href="shop-list-right-sidebar.html">Shop Lsit Right Sidebar</a></li>
						                    </ul>
						                </li>
						
						                <li class="mega-menu-item"><a href="single-product.html" class="mega-item-title">Single
						                    Products Style</a>
						                    <ul>
						                        <li><a href="single-product-carousel.html">Single Product Carousel</a></li>
						                        <li><a href="single-product-sticky-left.html">Single Product Sticky Left</a></li>
						                        <li><a href="single-product-sticky-right.html">Single Product Sticky Right</a></li>
						                        <li><a href="single-product-gallery-left.html">Single Product Gallery Left</a></li>
						                        <li><a href="single-product-gallery-right.html">Single Product Gallery Right</a></li>
						                        <li><a href="single-product-tab-style-top.html">Single Product Tab Style Top</a></li>
						                        <li><a href="single-product-tab-style-left.html">Single Product Tab Style Left</a></li>
						                        <li><a href="single-product-tab-style-right.html">Single Product Tab Style Right</a></li>
						                    </ul>
						                </li>
						
						                <li class="mega-menu-item"><a href="single-product.html" class="mega-item-title">Single
						                    Products</a>
						                    <ul>
						                        <li><a href="single-product.html">Single Product</a></li>
						                        <li><a href="single-product-sale.html">Single Product Sale</a></li>
						                        <li><a href="single-product-group.html">Single Product Group</a></li>
						                        <li><a href="single-product-normal.html">Single Product Normal</a></li>
						                        <li><a href="single-product-affiliate.html">Single Product Affiliate </a></li>
						                    </ul>
						                </li>
						            </ul>
						        </li>
						        <li class="dropdown-show"><a href="#" class="arrow-toggle">Men</a>
						            <ul class="mega-menu-wrap dropdown-nav">
						                <li class="mega-menu-item"><a href="shop-list.html" class="mega-item-title">Shirt</a>
						                    <ul>
						                        <li><a href="shop.html">Tops & Tees</a></li>
						                        <li><a href="shop.html">Polo Short Sleeve</a></li>
						                        <li><a href="shop.html">Graphic T-Shirts</a></li>
						                        <li><a href="shop.html">Jackets & Coats</a></li>
						                        <li><a href="shop.html">Fashion Jackets</a></li>
						                    </ul>
						                </li>
						
						                <li class="mega-menu-item"><a href="shop-list.html" class="mega-item-title">Jeans</a>
						                    <ul>
						                        <li><a href="shop.html">Crochet</a></li>
						                        <li><a href="shop.html">Sleeveless</a></li>
						                        <li><a href="shop.html">Stripes</a></li>
						                        <li><a href="shop.html">Sweaters</a></li>
						                        <li><a href="shop.html">Hoodies</a></li>
						                    </ul>
						                </li>
						
						                <li class="mega-menu-item"><a href="shop-list.html"
						                                              class="mega-item-title">Shoes</a>
						                    <ul>
						                        <li><a href="shop.html">Tops & Tees</a></li>
						                        <li><a href="shop.html">Polo Short Sleeve</a></li>
						                        <li><a href="shop.html">Graphic T-Shirts</a></li>
						                        <li><a href="shop.html">Jackets & Coats</a></li>
						                        <li><a href="shop.html">Fashion Jackets</a></li>
						                    </ul>
						                </li>
						
						                <li class="mega-menu-item"><a href="shop-list.html"
						                                              class="mega-item-title">Watches</a>
						                    <ul>
						                        <li><a href="shop.html">Crochet</a></li>
						                        <li><a href="shop.html">Sleeveless</a></li>
						                        <li><a href="shop.html">Stripes</a></li>
						                        <li><a href="shop.html">Sweaters</a></li>
						                        <li><a href="shop.html">Hoodies</a></li>
						                    </ul>
						                </li>
						            </ul>
						        </li>
						        <li class="dropdown-show"><a href="#" class="arrow-toggle">Pages</a>
						            <ul class="dropdown-nav">
						                <li><a href="cart.html">Shopping Cart</a></li>
						                <li><a href="checkout.html">Checkout</a></li>
						                <li><a href="compare.html">Compare</a></li>
						                <li><a href="wishlist.html">Wishlist</a></li>
						                <li><a href="login-register.html">Login & Register</a></li>
						                <li><a href="my-account.html">My Account</a></li>
						                <li><a href="404.html">404 Error</a></li>
						            </ul>
						        </li>
						        <li class="dropdown-show"><a href="#" class="arrow-toggle">Blog</a>
						            <ul class="dropdown-nav">
						                <li><a href="blog.html">Blog Left Sidebar</a></li>
						                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
						                <li><a href="blog-grid.html">Blog Grid Layout</a></li>
						                <li><a href="single-blog.html">Single Blog</a></li>
						                <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
						            </ul>
						        </li>
						        <li><a href="contact.html">联系我们</a></li>
						    </ul>
						</nav>
                    </div>
                </div>
                <!-- Main Menu End -->
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->