{% load staticfiles %}
<!-- Start Header Middle Area -->
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-4 col-md-2 col-xl-3 m-auto text-center text-lg-left">
                    <a href="index.html" class="logo-wrap d-block">
                        <img src="{% static 'home/img/logo.png' %}" alt="Logo" class="img-fluid"/>
                    </a>
                </div>
                <!-- Logo Area End -->

                <!-- Search Box Area Start -->
                <div class="col-8 col-md-7 col- m-auto ">
                    <div class="search-box-wrap">
                        <form class="search-form d-flex" action="#" method="get">
                            <input type="search" name="search" placeholder="搜索"/>
                            <button class="btn btn-search"><img src="{% static 'home/img/icons/icon-search.png' %}"
                                                                alt="搜索图标"/>
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Search Box Area End -->

                <!-- Mini Cart Area Start -->
            <!--     <div class="col-12 col-md-3 col-xl-2 m-auto text-center text-lg-right mt-xs-15">
                    <div class="minicart-wrapper">
                        <button class="btn btn-minicart">My Cart <sup class="cart-count">3</sup></button>
                        <div class="minicart-content">
                            <div class="mini-cart-body">
                                Single Cart Item Start
                                <div class="single-cart-item d-flex">
                                    <figure class="product-thumb">
                                        <a href="single-product.html"><img src="assets/img/product-1.jpg"
                                                                           alt="Products"/></a>
                                    </figure>

                                    <div class="product-details">
                                        <h2><a href="single-product.html">Sprite Yoga Companion</a></h2>
                                        <div class="cal d-flex align-items-center">
                                            <span class="quantity">3</span>
                                            <span class="multiplication">X</span>
                                            <span class="price">$77.00</span>
                                        </div>
                                    </div>
                                    <a href="#" class="remove-icon"><i class="fa fa-trash-o"></i></a>
                                </div>
                                Single Cart Item End

                                Single Cart Item Start
                                <div class="single-cart-item d-flex">
                                    <figure class="product-thumb">
                                        <a href="single-product.html"><img src="assets/img/product-2.jpg"
                                                                           alt="Products"/></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a href="single-product.html">Yoga Companion Kit</a></h2>
                                        <div class="cal d-flex align-items-center">
                                            <span class="quantity">2</span>
                                            <span class="multiplication">X</span>
                                            <span class="price">$6.00</span>
                                        </div>
                                    </div>
                                    <a href="#" class="remove-icon"><i class="fa fa-trash-o"></i></a>
                                </div>
                                Single Cart Item End

                                Single Cart Item Start
                                <div class="single-cart-item d-flex">
                                    <figure class="product-thumb">
                                        <a href="single-product.html"><img src="assets/img/product-3.jpg"
                                                                           alt="Products"/></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a href="#">Sprite Yoga Companion Kit</a></h2>
                                        <div class="cal d-flex align-items-center">
                                            <span class="quantity">1</span>
                                            <span class="multiplication">X</span>
                                            <span class="price">$116.00</span>
                                        </div>
                                    </div>
                                    <a href="single-product.html" class="remove-icon"><i class="fa fa-trash-o"></i></a>
                                </div>
                                Single Cart Item End
                            </div>
                            <div class="mini-cart-footer">
                                <a href="checkout.html" class="btn">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Mini Cart Area End -->
            </div>
        </div>
    </div>
    <!-- End Header Middle Area -->