{% extends "../layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->
                <div class="col-lg-5">
                    <div class="login-reg-form-wrap  pr-lg-50">
                        <h2>登录</h2>

                        <form action="login{{ sys_suffix }}" method="post" formnovalidate>
                            {% include 'public/csrf.html' %}
                            {% if next %}
                                <input name="next" value="{{ next }}"  type="hidden" required/>
                            {% endif %}
                            <div class="single-input-item">
                                <input type="email" name="username" placeholder="请输入您的邮件地址" required />
                            </div>

                            <div class="single-input-item">
                                <input type="password" name="password" placeholder="请输入您的密码" required />
                            </div>

                            <div class="single-input-item">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <div class="remember-meta">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                                            <label class="custom-control-label" for="rememberMe">记住密码</label>
                                        </div>
                                    </div>

                                    <a href="#" class="forget-pwd">忘记密码?</a>
                                </div>
                            </div>

                            <div class="single-input-item">
                                <button class="btn" >{% trans 'login' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->

                <!-- Register Content Start -->
                <div class="col-lg-7 mt-30 mt-lg-0">
                    <div class="login-reg-form-wrap">
                        <h2>注册</h2>
                        <form action="register{{ sys_suffix }}" method="post" id="register" >
                            {% include 'public/csrf.html' %}
                            <div class="single-input-item">
                                <input type="text" name="nickname"  placeholder="请输入昵称(至少2个汉字)"  datatype="z2-" nullmsg="请输入您的昵称！" errormsg="请输入昵称(至少2个汉字)"  />
                            </div>

                            <div class="single-input-item">
                                <input type="email" name="email" placeholder="输入您的邮件地址" datatype="e" nullmsg="请填写邮箱" errormsg="请输入正确的邮箱地址" />
                            </div>

                            <div class="single-input-item">
                                <input type="text" name="username" placeholder="请填写用户名(6-16个字符)" datatype="s6-16" nullmsg="请填写用户名" errormsg="请输入用户名(6~16个字符)" />
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        <input type="password" name="password"  placeholder="请输入输入密码(至少6位)" datatype="*6-" nullmsg="请输入您的密码！" errormsg="密码范围至少6位！"  />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        <input type="password" name="sure_pass" placeholder="请再次输入密码"   datatype="*" recheck="password" errormsg="您两次输入的账号密码不一致！" />
                                    </div>
                                </div>
                            </div>
                            <div class="single-input-item">
                                <div class="login-reg-form-meta">
                                    <div class="remember-meta">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                            <label class="custom-control-label" for="subnewsletter">订阅邮件</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-input-item">
                                <button class="btn"  >{% trans 'register' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Register Content End -->
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->


{% endblock %}
{% block script %}
<script src="{% static 'home/js/vendor/Validform_v5.3.2.js'%}"></script>
    <script>
        $(function(){
            $("#register").Validform({
                btnSubmit:'button.btn',
                datatype:{
                    'z2-':/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,}$/,
                    '*6-':/^.{6,}$/,
                },
                tiptype:function(msg,o,cssctl){
                    console.log(o.type)
                    if(o.type == 3) {
                        layer.tips(msg,o.obj,{
                            tipsMore: true
                        })
                    }

                },
                showAllError:true,
                postonce:true,
                tipSweep:true,
                ajaxPost:true,
                ignoreHidden:true,//忽略隐藏的标签
                callback:function(data){
                    return false
                    layer.msg(data.info)
                    return false;
                },
            })
        })
    </script>

{% endblock %}