{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    {% block page-title %}
        <title>{{page_title|default:'首页'}}|{{ sys_config.web_site_title }} - 专业的婴幼儿网站</title>
    {% endblock %}

	<meta name="description" content="{{ sys_config.web_site_description }}">
    <meta name="author" content="caiweiming">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    {% block plugins-css %}
    {% endblock %}

    <!--=== Favicon ===-->
<link rel="shortcut icon" href="{% static 'home/img/favicon.ico'%}" type="image/x-icon"/>

<!--== Google Fonts ==-->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet">

<!--=== Bootstrap CSS ===-->
<link href="{% static 'home/css/vendor/bootstrap.min.css' %}" rel="stylesheet">
<!--=== Font-Awesome CSS ===-->
<link href="{% static 'home/css/vendor/font-awesome.css' %}" rel="stylesheet">
<!--=== Plugins CSS ===-->
<link href="{% static 'home/css/plugins.css'%}" rel="stylesheet">
<!--=== Helper CSS ===-->
<link href="{% static 'home/css/helper.min.css'%}" rel="stylesheet">
<!--=== Main Style CSS ===-->
<link href="{% static 'home/css/style.css'%}" rel="stylesheet">

<!-- Modernizer JS -->
<script src="{% static 'home/js/vendor/modernizr-2.8.3.min.js'%}"></script>

    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!--== Start Header Section ==-->
<header id="header-area" >
    {% block preheader %}
        {% include 'public/preheader.html' %}
    {% endblock %}
    {% block middlehead %}
        {% include 'public/search.html' %}
    {% endblock %}
    {% block menu %}
        {% include 'public/menu.html' %}
    {% endblock %}
</header>
<!--== End Header Section ==-->
{% block slider %}
    {% include 'public/slider.html' %}
{% endblock %}
<!--== Start Feature Products  Area ==-->
<div id="product-area-wrapper">
    {% block content %}

    {% endblock %}
</section>
<div class="index_bg">
</div>
<!--== End Call To Action ==-->
{% block footer %}
    {% include 'public/footer.html' %}
{% endblock %}
<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="{% static 'home/js/vendor/jquery-3.3.1.min.js'%}"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="{% static 'home/js/vendor/jquery-migrate-1.4.1.min.js'%}"></script>
<script src="{% static 'home/js/vendor/axios.js'%}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'home/js/vendor/popper.min.js'%}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'home/js/vendor/bootstrap.min.js'%}"></script>
<!--=== Ajax Mail Js ===-->
<script src="{% static 'home/js/ajax-mail.js'%}"></script>
<!--=== Plugins Min Js ===-->
<script src="{% static 'home/js/plugins.js'%}"></script>
<script src="{% static 'home/js/layer/layer.js'%}"></script>
<!--=== Active Js ===-->
<script src="{% static 'home/js/active.js'%}"></script>
{% block script %}

{% endblock %}
</div>
</body>
</html>
